<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .center {
            text-align: center;
        }
        body {
    background-color: lightblue;
        }
        
    </style>

</head>
<body>
    <h1 class="center">Inventario</h1>
    <div class="center">
    <form action="{{url_for('save-spents')}}"method="post">
        <div>
            <input type="number" storagecost="storagecost" placeholder="Costo de almacenamiento">
        </div>
        <div>
            <input type="number" servicecost="servicecost" placeholder="Costo de servicio">
        </div>
        <div>
            <input type="number" admincost="admincost" placeholder="Costo administrativo">
        </div>

        <div>
            <input type="number" others="others" placeholder="Otros costos">
        </div>
        
        <div>
            <input type="datetime" date="date" placeholder="Fecha actualizacion">
        </div>

        <div>
            <!-- <div>
                <input type="text" name="category" placeholder="categoria">
            </div> -->
            <!---
            <select name="category" id="">
                <option value="0">elige una categoria de tu tienda</option>
                <option value="ferreteria">ferreteria</option>
                <option value="miscelanea">miscelanea</option>
                <option value="abarrotes">abarrotes</option>
                <option value="moda">moda-ropa</option>               

            </select>
        -->
        <!-- <div>
            <input type="text" name="price_sale" placeholder="precio de venta">
        </div>     -->
        </div>
        <!-- <div>
            <input type="number" name="amount" placeholder="cantidad">
        </div> -->
        <div >
            <button >Actualizar gastos</button>
        </div>
        </form>
    </div>
</body>
</html>