<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .center {
            text-align: center;
            text-size-adjust: 12;
        }
        body {
    background-color: lightblue;
        }
    </style>
</head>
<body>
    <div>
        
        <div class="center">
            <h1>inicio</h1>
            <a href="/resproducto">registrar un producto</a>
            <br>
            <a href="/inventario">ir a inventario</a>
            <br>
            <a href="/gastos">ver mis gastos</a>
            <br>
            <a href="/ventas">registrar ventas</a>
            <br>
            <a href="/facturas">ver facturas</a>
            <br>
            <a href="/login">salir</a>
           

        </div>
        
    </div>    
    
</body>
</html>