<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center {
            text-align: center;
            text-size-adjust: 12;
        }
        body {
    background-color: lightblue;
        }
    </style>
</head>
<body>
    <div>
        
        <div class="center">
            <h1>inicio</h1>
            <a href="/templates/registroproducto.html">registrar un producto</a>
            <br>
            <a href="/templates/inventario.html">ir a inventario</a>
            <br>
            <a href="/templates/gastos.html">ver mis gastos</a>
            <br>
            <a href="/templates/login.html">salir</a>
            <br>
            <a href="/templates/admin.html">modo administrador</a>

        </div>
        
    </div>    
    
</body>
</html>